import Config

config :elixir_auth_google,
  client_id: "",
  client_secret: ""

config :nox,
  nox_dataset: "",
  collect_table: ""

config :nox,
  google_auth_domain: "",
  kiosk_url: ""

config :nox,
  tuts_url_base: "https://tuts-local-YOUR-NAME.YOUR-DOMAIN-FOR-TUNNELING.com"

config :nox,
  uploads_bucket: "dev-NAME-nox-uploads"

config :mux,
  access_token_id: "",
  access_token_secret: "",
  webhook_secret: ""

config :nox,
  decaf_shop_id: "",
  decaf_airdrop_api_url: "",
  decaf_le_config_api_key = "",
  decaf_le_config_api_url = "",
  decaf_le_solana_qr_url = ""

config :nox,
  cloak_vault_key: "3+AO1o2ml+sQlErxUTBXKNtz0TsepNJKATAEJuLrdLc="

